.item {
  /* display: flex; */
  margin: auto;
  /* justify-content: center; */
  max-width: 800px;
  margin-top: 50px;
}

.linkBox {
  text-align: right;
  margin-bottom: 20px;
}

.linkButton {
  padding: 10px;
  color: #ca2665;
  border-radius: 8px;
  border: 1px solid #ca2665;
}

.linkButton:hover {
  background-color: #ca2665;
  border: 1px solid #ca2665;
}

.index {
  height: 100%;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 20px;
  align-self: center;
  align-items: center;
  top: 0;
}

.imgBox {
  display: flex;
}

.categoryImage {
  width: 200px;
}
.categoryImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .categoryImage {
    width: 150px;
  }
}

@media screen and (max-width: 450px) {
  .categoryImage {
    width: 100px;
  }
}

@media screen and (max-width: 350px) {
  .categoryImage {
    display: none;
  }
}
