.commentBox {
  font-size: 1.3rem;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  padding-block: 15px;
}

.name {
  color: var(--primary-text-color);
  font-weight: 700;
}

.date {
  color: var(--secondary-text-color);
}

.commentBody {
  color: var(--primary-text-color);
  font-size: 1.3rem;
}

.metaData {
  display: flex;
  gap: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}
